/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/
body{
  font-size: 16px;
}
8 {
  box-sizing: border-box;
}
/*typography*/
h1,h3,h4,h5 {
    color: #ffffff;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 0.5em 0;
    font-size: 3.4em;
}
h2{
    color: #ffffff;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0.5em 0;
    font-size: 1.6em;
}

/*sidenav*/
.sidenav{
  height: 100vh;
  width: 18em;
  text-align: right;
  position: fixed;
  cursor: crosshair;
  overflow-x: hidden;
  left: 0;
  top: 0;
  padding: 1em 1em 0.5em 1em ;
  overflow-y: auto;
  z-index: 1;
  background-color: #312450;
  padding-top: 80px;
}
.sidenav li{
  margin: 30px 0;
  border-bottom: 1px solid linear-gradient(pink,red);
}

.sidenav a {
  text-decoration: none;
  padding: 20px 8px 8px 8px;
  font-size: 1em;
  margin-bottom: 10px;
  line-height: 1em;
  letter-spacing: .10em;
  color: rgba(255, 255, 255, 0.35);
  position: relative;
  font-weight: bold;
  display: block;
  transition: pink 0.10s ease;

}
.hover-effect:after {
    content: '';
    display: block;
    height: 2px;
    background: grey;
    transition: width .5s cubic-bezier(0, 0.45, 0.98, 0.65);
    transition-timing-function: linear;
}

.hover-effect:hover.hover-effect:after {
  background: linear-gradient(to right, blue, red );
  height: 4px;

}

.sidenav nav a:hover {
  color: rgba(255, 255, 255, 0.70);
}

/*intro*/
.intro{
  background-color: #5e42a6;
  position: relative;
  padding: 2em 2em 2em 2em;
  max-width: 100%;
  height: 100vh;
}
.intro-ome{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-40%);
  right: 0;
  bottom: 0;
  padding: 100px;
  width: 60%;
  margin-left: 5%;

}
.intro-ome p{
  font-size: 1.9em;
  margin: 50px 0;
  color: rgba(255, 255, 255, 0.35);
  letter-spacing: .05em;
  line-height: 1em;
}
.btn a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  letter-spacing: .20em;
}
.btn{
  background-color: #5e42a6;
  border-radius: 23px;
  border: .50px solid white;
  padding: 10px;
  width: 13vw;
  height: 8vh;
}

.btn a:hover {
  color: rgba(255, 255, 255, 0.55);
}
.btn:hover {
  background: linear-gradient(purple, blue);

}
/*content*/
.content{
  background-color: #5052b5;
  position: relative;
  max-width: 100%;
  height: 60vh;
  overflow-x: hidden;
  overflow-y: hidden;
  box-shadow: 2px 2px 2px 2px grey;
}
.content-one{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-31%);
  right: 0;
  bottom: 0;
  width: 100%;
  margin-left: 5%;
  height: 60vh;
  max-width: 100%;

}
.side-note-one h1{
 font-size: 2.2em;
}
.side-note-one p{
  line-height: 1.2em;
  letter-spacing: .05em;
  color: silver;
}
.img-siz{
  width: 100%;
  height: 60vh;
}
.img-one {
  height: 200vh;
  width: 25vw;
  display: inline-block;
}
.side-note-one {
  height: 100vh;
  width: 40%;
  vertical-align: middle;
  display: inline-block;
  margin-left: 30px;
  padding: 10px 20px 10px 10px;
}
.side-note-one p{
  margin: 30px 0;
}
.btn-con{
  background-color: #5052b5;
  border-radius: 20px;
  border: .50px solid white;
  padding: 10px;
  width: 12vw;
}

.btn-con a:hover {
  color: rgba(255, 255, 255, 0.55);
}
.btn-con a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.btn-con:hover{
  background: radial-gradient(#5052b5,darkblue);
}
/*about*/
.grid{
  /*height: 200vh;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}
.list{
  background-color: #b74e91;
  display: grid;
  border: solid 1px rgba(255, 255, 255, 0.15);
  box-sizing: border-box;
  padding: 35px;
  grid-template-columns: .5fr 1fr;
}
.about{
  /*height: 200px;*/
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-40%);
  right: 0;
  bottom: 0;
  padding: 100px;
  width: 60%;
  margin-left: 5%;

}
.intro-about{
  background-color: #b74e91;
  position: relative;
  padding: 2em 2em 2em 2em;
  max-width: 100%;
  height: 200vh;
}
span{
  font-size: 50px;
  color: white;
}
.
.text{
  margin-top: 20px;
}
.about p {
  color: silver;
  letter-spacing: .05em;
  font-size: 1.10em;
  margin: 20px 0;
}
.btn-about{
  background-color: #b74e91;
  border-radius: 20px;
  border: solid 1px rgba(255, 255, 255, 0.15);
  padding: 10px;
  width: 12vw;
  height: 7vh;
  margin-top: 25px;
}

.btn-about a:hover {
  color: pink;
}
.btn-about a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.btn-about:hover{
  background: radial-gradient(#b74e91,pink);
}
/* registraion */
.registration{
  background-color: #5e42a6;
  position: relative;
  padding: 2em 2em 2em 2em;
  max-width: 100%;
  height: 100vh;
}
.register{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-40%);
  right: 0;
  bottom: 0;
  padding: 80px;
  width: 60%;
  margin-left: 3%;
}
.register h1 {
  font-size: 2.20em;
}
.register p {
  color: silver;
  letter-spacing: .03em;
  font-size: 1.10em;
  margin: 20px 0;
}
.grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
}
input{
  width: 15vw;
  margin-right: 30px;
  height: 4vh;
  padding: 4px;
}
.name{
  display: inline-block;
  /*margin: 0 5px;*/

}
.email{
  display: inline-block;
}
textarea{
  display: block;
  height: 22VH;
  width: 32.70vw;
  padding: 10px;
  /*margin: 30px 0;*/
}
h3{
  font-size: 1em;
  margin: 15px 0;
  text-align: left;

}
.form{
  border-right: 1px solid white;
}
.communication{
  padding: 20px;
}