.middle{
	width: 600px;
	margin: 0 auto;
}
.outbox{
	width: 560px;
	border: 1px solid grey;
	display: inline-block;
	margin-bottom: 25px;
}
.inbox{
	width: 160px;
	background: yellow;
	height: 100px;
	display: inline-block;
	margin: 10px;
}
.b1{
	border: 10px solid black;
}
.b2{
	box-sizing: border-box;	
}

hr{
	width: 480px;
	color: darkgrey;
	border-style: dashed;
	margin: 30px;
}