p{
   margin: 0px;
   /*padding-left: 10px;*/
 }

section{
  margin-left: 20px;
 }

hr{
  margin-top: 40px; 
}
img{
  /*font-size: 0;*/
  /*line-height: 0;*/
  vertical-align: baseline;
}
.fleft{
  float: left;
 
  margin: 10px;
}
.fright{
  float: right;
}
.common{
  box-sizing: border-box;
  background-color: pink;
  border: 20px solid orange; 
  outline: 5px solid red;
  font-size: 0;
}

.bluebox{
  background: lightblue;
  height: 100px;
  width: 100%;
}
.clear {
  clear: both;
}

/*.box{
  background: lightblue;
}*/


