/*  body section*/
body{
  font-size: 16px;
  background-color: #f3e2c7;
  margin: 0;
}
/* Typography......... */
h1{
  font-size: 3vmin;
  margin: 30px 0;
}
p{
  padding-left: 30px;
}
/* header */
header{
  margin: 0;

}

.wrapper{
  width: 80%;
  margin: 0 auto;
}
.navigation li {
  display: inline-block;
  padding: 15px;
}
.navigation{
  background: linear-gradient(#49708f, #ff920a);
  background: #ff920a;
  font-size: 1em;
}
/* main */
.list-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  /* justify-content: space-around; */
}

.block{
  display: grid;
  /* width: 200px; */
  height: 350px;
  border: 1px solid black;
  background: #005979;
  box-shadow: 4px 6px 6px 0px rgba(0, 0, 0, .4);
}
.span2 li {
  list-style-type: disc;
}
li{
  font-size: 1.20em;
}
@media screen and (max-width:600px)
{
 .list-items{
   grid-template-columns: 1fr 1fr;
   grid-gap: 4px;
   }
   .span2{
   grid-column: 1 / -1;
   }
 .navigation li {
   display: block;
   border-bottom: 1px solid black;
   padding: 0;
   text-align: center;
   padding: 5px;
 }



 }
