   /* http://meyerweb.com/eric/tools/css/reset/
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-size: 16px; }

.pad {
  padding: 20px; }

/*
  ========================================
  PortFolio
  ========================================
*/
.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%; }

.main-img {
  min-width: 50%;
  height: 100%; }

.pos-h {
  position: absolute;
  z-index: 10;
  top: 6%;
  left: 8%;
  font-size: 1.5rem; }

.pos {
  position: relative; }

.active {
  color: #f4ac41; }

.about-me {
  min-width: 50%;
  height: 500px;
  padding: 20px;
  position: relative;
  background-color: wheat; }

li, .menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 10px;
  padding: 5px; }

.media-menu {
  display: none; }

.main-img_1 {
  width: 100%;
  height: 100%; }

.about-me_main {
  position: absolute;
  width: 70%;
  margin-left: 25px;
  top: 20%;
  left: 10%;
  bottom: 0;
  right: 0;
  transform: translate(-10%, -8%);
  padding: 25px; }
  .about-me_main s
  h1 {
    font-size: .80rem; }
  .about-me_main h2 {
    font-size: 1.66rem;
    margin: 20px 0; }
  .about-me_main p {
    margin: 10px 0;
    color: grey; }
  .about-me_main button {
    margin: 10px;
    height: 2rem;
    max-width: 10rem;
    border: 2px solid black;
    border-radius: 15px;
    background-color: transparent; }
  .about-me_main span {
    font-weight: 800; }

/*
  ========================================
  portfolio-two
  ========================================
*/
.portfolio-two {
  height: 80%;
  padding: 25px; }
  .portfolio-two h2 {
    font-size: 1.8rem;
    margin-bottom: 20px; }
  .portfolio-two span {
    font-size: .80rem;
    color: #f4ac41; }
  .portfolio-two p {
    margin: 25px 0;
    color: gray; }

.sub {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.portfolio-two_skills {
  background-color: #f4ac41;
  padding: 25px; }
  .portfolio-two_skills h2 {
    font-size: 2rem;
    color: azure; }
  .portfolio-two_skills p {
    color: azure;
    margin: 20px 0; }

.stats {
  height: 4px;
  width: 80%;
  margin: 5px;
  background-color: blanchedalmond; }
  .stats .stats-sub {
    height: 4px;
    width: 70%;
    background-color: black; }

.stats-sub-m {
  height: 4px;
  width: 40%;
  background-color: black; }

/*
  ========================================
  portfolio-three
  ========================================
*/
.portfolio-three {
  text-align: center; }
  .portfolio-three h3 {
    color: grey;
    margin: 20px 0; }
  .portfolio-three p {
    color: grey; }
  .portfolio-three .portfolio-three_one {
    background-color: #f46542; }
  .portfolio-three .portfolio-three_two {
    background-color: #f4ac41; }
  .portfolio-three .fas {
    font-size: 30px;
    color: wheat; }

.portfolio-three_three {
  background-color: black;
  color: whitesmoke; }

/*
  ========================================
  portfolio-four and five
  ========================================
*/
.portfolio-four {
  height: 100%; }

.p-f-c {
  background-color: #f46542; }
  .p-f-c i {
    font-size: 30px;
    color: wheat; }
  .p-f-c time {
    font-size: .8rem;
    color: black; }
  .p-f-c h3, .p-f-c p, .p-f-c span, .p-f-c h2 {
    color: wheat; }
  .p-f-c h2 {
    font-size: 2rem; }
  .p-f-c h6 {
    margin: 20px 0; }
  .p-f-c p {
    margin: 25px 0; }

.p-f-c-e {
  margin: 25px 0; }

.portfolio-six {
  background-color: #f46542;
  height: 100%; }
  .portfolio-six h2, .portfolio-six p {
    color: aliceblue; }
  .portfolio-six button {
    width: 25%;
    border-radius: 12px;
    border: 0;
    background-color: whitesmoke;
    height: 25px;
    margin: 20px 0; }

.ptss {
  display: grid;
  grid-template-columns: 1fr 1fr; }

textarea, input {
  display: block;
  width: 90%;
  margin: 20px 0;
  outline: 0;
  background-color: #f46542;
  border: 0;
  border-bottom: 1px solid wheat; }

textarea {
  height: 70px; }

.portfolio-six-sub {
  background-color: black; }
  .portfolio-six-sub h6, .portfolio-six-sub h3, .portfolio-six-sub p {
    color: wheat; }
  .portfolio-six-sub h6, .portfolio-six-sub h3 {
    font-size: 1.5rem; }
  .portfolio-six-sub p {
    margin: 15px 0; }
  .portfolio-six-sub span {
    color: orange;
    padding-left: 5px; }

/*
  ========================================
  footer map
  ========================================
*/
.footer-map {
  grid-column: 1 / -1;
  padding: 30px;
  background-color: #f46542; }
  .footer-map iframe {
    width: 100%;
    height: 500px; }

/*
  ========================================
  footer
  ========================================
*/
footer {
  width: 100%;
  height: 20vh;
  grid-column: -1 / 1;
  text-align: center; }
  footer .footer-icons {
    margin: 25px 0; }
  footer span {
    padding: 25px; }
  footer i {
    font-size: 20px; }

.footer-copyright {
  margin: 45px 0; }

@media (max-width: 768px) {
  .portfolio {
    grid-template-columns: 1fr; }
    .portfolio h1 {
      display: none; }

  .media-menu {
    display: block; }

  .media-menu_ {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 10px;
    padding: 5px;
    justify-items: end; }

  .sub {
    grid-template-columns: 1fr; }

  .response {
    display: grid;
    grid-template-columns: 1fr; } }

/*# sourceMappingURL=style.css.map */
