.outbox{
	text-align: center;
	margin: 0 auto;		
}

.com{
    height: 200px;
	margin: 5px;
	display: inline-block;
	vertical-align: top;
	color: white;
	font-weight: bolder;
}

.smal{
	width: 200px;
}

.bigbox{
	width: 400px;	
}

.b2{
	background-color: darkgreen;	
	
}
.b3{
	background-color: purple;
}

.b4{
	background-color: blue;
}
.b6{
	background-color: green;	
}
.b7{
	background-color: yellow;
}
.b8{
	background-color: orange;
}

.b1{
	background-color: red;	
}

.b5{
	background-color: lightgreen;
}

.b9{
	background-color: darkred;
}

p{
	margin: 10px;
}