body{
	margin: 0;
}
.pink{
	display: inline-block;
	background-color: lightpink;
	vertical-align: top;
}
.blue{
	background-color: lightblue;
}
.block{
	display: inline-block;
	width: 49%;
	margin: 0%;
	padding: 10px;
	box-sizing: border-box;
	line-height: 25px;
}
