body {
	margin: 0;
	flex-direction: column;
	display: flex;
	min-height: 100vh;
	/*align and stretch */

}

header {

	text-align: center;
	background-color: blue;
	padding: 0 25px;
	color: whitesmoke;
}

section
{
	padding: 20px;
	text-align: center;
}
.bar {
	display: ;
	width: 90;
	margin: 0 auto;
	border-radius: 20px;
	overflow: auto;
	height: 20px;
	background-color: #2a2a2a;

}

.progress
{
	display: block;
	width: 4%;
	height: 100%;
	background-color: tomato;
}

